extends layout

block content
  div
    #user
      h1 Welcome #{user.username}. Check your details below:
        div
          ul
            li Username ===> #{user.username}
        a(href='/signout') Sign out
