extends layout

block content
  div
    #user
      h1 Welcome to javascript games
        div
          ul
            li
              a(href='/simon-says') Simon says
        a(href='/signout') Sign out
