extends layout

block content
  div(class='page')
    #user
      h1 Pick a game and start playing
      div(class='content-wrapper')
        ul
          li(class='list-panel')
            a(class='panel-link' href='/simon-says') Simon says
      a(href='/signout') Sign out
