extends layout

block content
  div(class='login')
    h1(class='header') Sign in
    div(class='content')
      form(class='form' action='/login', method='POST')
        input(type='text' name='username' placeholder='username')
        input(type='password' name='password' placeholder='password')
        button(type='submit') Sign in
    a(href='/signup') Sign up
    #message
    if message
      h1 #{message}
