extends layout

block content
  div(class='login')
    div
      form(class='form' action='/login', method='POST')
        input(class='login-input', type='text' name='username' placeholder='username')
        input(class='login-input' type='password' name='password' placeholder='password')
        button(type='submit') Sign in
        a(class='link' href='/signup') Sign up
    #message
    if message
      h1 #{message}
