extends layout

block content
  h1(class='header') Javascript games
  div(class='login')
    div
      form(class='form' action='/login', method='POST')
        input(type='text' name='username' placeholder='username')
        input(type='password' name='password' placeholder='password')
        button(type='submit') Sign in
        a(class='link' href='/signup') Sign up
    #message
    if message
      h1 #{message}
