doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/styles/styles.css')
    link(rel='stylesheet', href='/styles/simon-says.css')
  body
    block content
    script(type='text/javascript' src='/js/bundle.js')
