extends layout

block content
  div(class='page')
    h1 Registration Details
      div
        form(action='/signup', method='POST')
          input(type='text', name='username', placeholder='Username', required, autofocus)
          input(type='password', name='password', placeholder='Password', required)
          button(type='submit') Register
      #message
        if message
          h1 #{message}
