extends layout

block content
  div(class='page')
    div(class='container')
      div(class='red item')
      div(class='green item')
      div(class='blue item')
      div(class='yellow item')

    button(class='start' id='start') Start
