body, html {
  width: 100vw;
  height: 100vh;
}

.container {
  background: #86818e;
  width: 440px;
  height: 440px;
  margin: auto;
  border-radius: 100%;
  position: relative;
  box-shadow: inset -1px 1px black;
  position: relative;
  top: 6rem;
}

.item {
  display: block;
  position: absolute;
  width: 170px;
  height: 170px;
  padding-bottom: 2rem;
  padding-right: 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
}

.red {
  background: #8B0000;
  top: 8%;
  left: 8%;
  border-top-left-radius: 95%;
}

.red.highlighted {
  background: #f00;
}

.green {
  background: #006400;
  left: 8%;
  bottom: 8%;
  border-bottom-left-radius: 100%;
}

.green.highlighted {
  background: #0f0;
}

.blue {
  background: #191970;
  right: 8%;
  top: 8%;
  border-top-right-radius: 100%;
}

.blue.highlighted {
  background: #1a75ff;
}

.yellow {
  background: #b3b300;
  bottom: 8%;
  right: 8%;
  border-bottom-right-radius: 100%;
}

.yellow.highlighted {
  background: #ffff1a;
}
