.container {
  background: #242327;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  position: relative;
  box-shadow: inset -1px 1px black;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

.item {
  display: block;
  position: absolute;
  width: 170px;
  height: 170px;
  padding-bottom: 2rem;
  padding-right: 2rem;
  border: 1px solid #7b6f6f;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
}

.red {
  background: #8B0000;
  top: 8%;
  left: 8%;
  border-top-left-radius: 95%;
}

.red.highlighted {
  background: #f00;
}

.green {
  background: #006400;
  left: 8%;
  bottom: 8%;
  border-bottom-left-radius: 100%;
}

.green.highlighted {
  background: #0f0;
}

.blue {
  background: #191970;
  right: 8%;
  top: 8%;
  border-top-right-radius: 100%;
}

.blue.highlighted {
  background: #1a75ff;
}

.yellow {
  background: #b3b300;
  bottom: 8%;
  right: 8%;
  border-bottom-right-radius: 100%;
}

.yellow.highlighted {
  background: #ffff1a;
}

.start {
  width: 120px;
  left: 0;
  transform: none;
  background: rgba(0,0,0,0.8);
  border-color: #fff;
  color: #fff;
  border-radius: 22px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  line-height: 24px;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  transition: background-color 500ms, border-color 500ms, opacity 500ms;
  white-space: nowrap;
  position: relative;
}

.start:focus {
  outline: none;
}
