* {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100vh;
  background: url(img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  /*background: #1c1e20;*/
}

.navbar-wrapper {
  height: 4rem;
  position: fixed;
  width: 100%;
  /*background: linear-gradient(#000, #272525);*/
  background: linear-gradient(to bottom, #2b2b29 0%, #3d3e3c 100%);
  border-bottom: 2px solid #676565;
}

.nav-content {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 3rem;
  justify-content: space-between;
}

.nav-item-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 100%;
}

.brand {
  color: #fff;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 24px;
}

.brand-wrapper {
  border-bottom: 1px solid black;
  height: 150%;
  background: linear-gradient(to bottom, #2b2b29 0%, #3d3e3c 100%);
  border-bottom-right-radius: 35%;
  border-bottom-left-radius: 36%;
  border-bottom-color: #676565;
  border-bottom-width: 5px;
  border-left: 2px solid #676565;
  border-right: 2px solid #676565;
}

.searchField {
  align-self: flex-end;
  border-radius: 11px;
  text-indent: 7px;
  box-shadow: inset 0px -2px 0px 12px #423f3f;
  border: 1px solid #8e7d7d;
  line-height: 20px;
  height: 20px;
  color: #fff;
}

.nav-item

.form {
  display: flex;
  flex-flow: column nowrap;
}

.login {
  height: 20rem;
  max-width: 20rem;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  box-shadow: none;
  padding: 2rem;
  background: inherit;
  position: relative;
}

.header {
  width: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 62px;
  font-variant: small-caps;
  line-height: 4rem;
  margin: 0px;
  padding-top: 4rem;
}

.content {
}

input.login-input {
  width: 100%;
  padding: 0px 16px;
  line-height: 2rem;
  font-size: 14px;
  border: 1px solid #a4a5a6;
  height: 44px;
  border-radius: 4px;
  color: #323436;
  transition: color 250ms, border-color 250ms;
  white-space: nowrap;
  margin: 0;
  outline: 0;
  cursor: auto;
  user-select: text;
  display: block;
  margin-bottom: 24px;
}

input:focus {
  outline: none;
}

button {
  background: rgba(0,0,0,0);
  border-color: #fff;
  color: #fff;
  border-radius: 22px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  line-height: 24px;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  transition: background-color 500ms, border-color 500ms, opacity 500ms;
  vertical-align: bottom;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 24px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

button:hover {
  background: #fff;
  border-color: #fff;
  color: #323436;
}

.link {
  color: #fff;
  text-decoration: none;
  transition: color 250ms;
  line-height: 24px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  display: block;
}

.link:hover {
  color: #bababa
}
