* {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100vh;
  background: #fff;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(#bd5028, #ff6128);
}

.form {
  display: flex;
  flex-flow: column nowrap;
}

.login {
  height: 20rem;
  max-width: 20rem;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #484141;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  padding: 2rem;
  background: #fff;
  position: relative;
}

.header {
  width: 100%;
  position: relative;
  text-align: center;
}

.content {

}

input {
  height: 2rem;
  margin: 0.2rem;
  line-height: 2rem;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #756262;
}

input:focus {
  outline: none;
  border-bottom: 1px solid black;
}
